.header {
  text-align: center;
  margin-top: 5%;
}
.form-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 15%;
  padding: 40px;
}

.submit-btn {
  width: 100%;
}
